GOOGLE_APPS_SCRIPT_WEBAPP_URL=https://script.google.com/macros/s/AKfycbwaAFp0RGR1QZDiC1qyDLv1mOodudpXGIiy8A1P1rHd3OOSiHJbg0FHnzgH_ar4NdGJAQ/exec
GOOGLE_APPS_SCRIPT_TOKEN=bh-auth-2026-super-secret-7f3c9a
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api/v1
